<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Create:</strong>
  <%= @role.create %>
</p>

<p>
  <strong>Read:</strong>
  <%= @role.read %>
</p>

<p>
  <strong>Update:</strong>
  <%= @role.update %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @role.delete %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
