<h1> Edit Todo </h1>
<%= form_for @todo, :url => todo_path(@todo) do |f| %>
	<%= f.label :name %>: <%= f.text_field :name %>
	<%= f.hidden_field :done, :value => false %>
	<%= f.submit "Finish editing" %>


	<% end %>
